.login-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 356px;
    margin-left: marg;
    margin: auto;
    margin-top: 107px;
}
.login-container-big{
    width: 552px;
    height: 444px;
    margin: auto;
    border-radius: 2%;  
    margin-top: 97px;
    border: 1.5px solid #bce8f1;
}
.navbar {
    display: flex;
    justify-content: space-around;
    color:transparent;
}
.navbar-items{
    text-decoration: none;
    color:black;
    font-size:18px;
}
.navbar-items:hover{
    text-decoration: none;
}
.card-img-top{
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; 
    height: auto;
    padding:10px;
   
}
.dashboard-users{
    display: flex;
    flex-wrap: wrap;
}
.big-container{
    display: flex;
    flex-direction: row;
}
.cards-container{
    display:flex;
}
.panel-heading{
    background-color: #d9edf7;
    border-color: #bce8f1
}
#sign-in-text{
    position: absolute;
    bottom: 10px;
    left: 38px;
}
.btn{
    width:100%; 
    margin-top: 28px;
}
.card-container{
    margin: 10px;   
    width: 230px;
    height: 300px;
    padding:10px;
}
.card-img-top{
    padding:5px;
    margin: auto;
}
.card-container{
    margin: 10px;
    width: 230px;
    height: 400px;
}